@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sandesh-text {
  background: #FF8B44;
background: linear-gradient(to right, #FF8B44 0%, #CDD3FF 50%, #24CF2C 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}